[submodule "biohazard"]
	path = biohazard
	url = https://github.com/udo-stenzel/biohazard.git
	branch = v0.4.7
[submodule "libgab"]
	path = libgab
	url = https://github.com/grenaud/libgab
[submodule "network-aware-bwa"]
	path = network-aware-bwa
	url = https://github.com/udo-stenzel/network-aware-bwa.git
[submodule "bamtools"]
	path = bamtools
	url = https://github.com/pezmaster31/bamtools.git
[submodule "SimpleJSON"]
	path = SimpleJSON
	url = https://github.com/MJPA/SimpleJSON.git
[submodule "deML"]
	path = deML
	url = https://github.com/grenaud/deML.git
[submodule "leehom"]
	path = leehom
	url = https://github.com/grenaud/leehom.git
[submodule "BCL2BAM2FASTQ"]
	path = BCL2BAM2FASTQ
	url = https://github.com/grenaud/BCL2BAM2FASTQ.git
