<?xml version="1.0"?>
<aLibInfo>
  <alibdir>/mnt/solexa/bin/aLib/</alibdir>
  <fastqcdir>/mnt/solexa/bin/FastQC/</fastqcdir>
  <illuminareaddir>/mnt/solexa/</illuminareaddir>
  <illuminawritedir>/mnt/ngs_data/</illuminawritedir>
  <sequencers>
    <sequencer id="M00518" type="miseq"/>
    <sequencer id="SN7001204" type="hiseq"/>
    <sequencer id="SN7001204" type="hiseq"/>
  </sequencers>
  <runstodisplay>30</runstodisplay>
  <emailAddrToSend>gabriel_renaud@eva.mpg.de</emailAddrToSend>
  <genomedirectory>/mnt/solexa/Genomes/</genomedirectory>
  <outputdirectory>/mnt/ngs_data/</outputdirectory>
  <tempdirectory>/mnt/solexa/tmp/</tempdirectory>
  <freeibispath>/mnt/solexa/bin/freeIbis/</freeibispath>
  <controlindex>TTGCCGC</controlindex>
  <phixref>/mnt/solexa/Genomes/phiX/control/whole_genome.fa</phixref>
  <chimeras>
    <chimera protocol="IllMultiplex" name="Illumina Multiplex library" adapter1="'AGATCGGAAGAGCACACGTCTGAACTCCAGTCACIIIIIIIATCTCGTATGCCGTCTTCTGCTTG'" adapter2="'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'" chimera="'ACACTCTTTCCCTACACGTCTGAACTCCAG,ACACTCTTTCCCACACGTCTGAACTCCAGT,ACACTCTTTCCCTACACACGTCTGAACTCC,CTCTTTCCCTACACGTCTGAACTCCAGTCA,GAAGAGCACACGTCTGAACTCCAGTCACII,GAGCACACGTCTGAACTCCAGTCACIIIII,GATCGGAAGAGCACACGTCTGAACTCCAGT,AGATCGGAAGAGCACACGTCTGAACTCCAG,AGAGCACACGTCTGAACTCCAGTCACIIII,ACACGTCTGAACTCCAGTCACIIIIIIIAT,GTGCACACGTCTGAACTCCAGTCACIIIII,AGCACACGTCTGAACTCCAGTCACIIIIII,CGTATGCCGTCTTCTGCTTGAAAAAAAAAA'"/>
    <chimera protocol="IllTruSeq" name="Illumina TruSeq RNA/DNA library" adapter1="'AGATCGGAAGAGCACACGTCTGAACTCCAGTCACIIIIIIIATCTCGTATGCCGTCTTCTGCTTG'" adapter2="'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'" chimera="'ACACTCTTTCCCTACACGTCTGAACTCCAG,ACACTCTTTCCCACACGTCTGAACTCCAGT,ACACTCTTTCCCTACACACGTCTGAACTCC,CTCTTTCCCTACACGTCTGAACTCCAGTCA,GAAGAGCACACGTCTGAACTCCAGTCACII,GAGCACACGTCTGAACTCCAGTCACIIIII,GATCGGAAGAGCACACGTCTGAACTCCAGT,AGATCGGAAGAGCACACGTCTGAACTCCAG,AGAGCACACGTCTGAACTCCAGTCACIIII,ACACGTCTGAACTCCAGTCACIIIIIIIAT,GTGCACACGTCTGAACTCCAGTCACIIIII,AGCACACGTCTGAACTCCAGTCACIIIIII,CGTATGCCGTCTTCTGCTTGAAAAAAAAAA'"/>
    <chimera protocol="IllPE" name="Illumina Paired End library" adapter1="'AGATCGGAAGAGCGGTTCAGCAGGAATGCCGAGACCGATCTCGTATGCCGTCTTCTGCTTG'" adapter2="'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'" chimera="'AGATCTAGATCGGAAGAGCGGTTCAGCAGGAATGCCGAGACCGATCTCGT,GAAGAGCGGTTCAGCAGGAATGCCGAGACCGATCTCGTATGCCG,AAGAGCGGTTCAGCAGGAATGCCGAGACCGATCTCGTATGCCGTCTTCTG'"/>
    <chimera protocol="IllSR" name="Illumina Single Read library" adapter1="'AGATCGGAAGAGCTCGTATGCCGTCTTCTGCTTG'" adapter2="''" chimera="''"/>
    <chimera protocol="IllsRNA" name="Illumina smallRNA/DpnI library" adapter1="'TCGTATGCCGTCTTCTGCTTG'" adapter2="''" chimera="''"/>
    <chimera protocol="IllsRNA2" name="Illumina smallRNA II" adapter1="'ATCTCGTATGCCGTCTTCTGCTTG'" adapter2="''" chimera="'TCTCGTATGCCGTCTTCTGCTTG,TCGTATGCCGTCTTCTGCTTG,GTATGCCGTCTTCTGCTTG'"/>
    <chimera protocol="IllsRNA2Index" name="Illumina smallRNA II (5p Index)" adapter1="'ATCTCGTATGCCGTCTTCTGCTTG'" adapter2="''" chimera="'TCTCGTATGCCGTCTTCTGCTTG,TCGTATGCCGTCTTCTGCTTG,GTATGCCGTCTTCTGCTTG'"/>
    <chimera protocol="IllSAGE" name="Illumina SAGE (NlaIII) library" adapter1="'TCGTATGCCGTCTTCTGCTTG'" adapter2="''" chimera="'GTATGCCGTCTTCTGCTTG,CCGTCTTCTGCTTGTCGTATGCCGTCTTCTGCTTG,CGTATGCCGTCTTCTGCTTG,CCGTCTTCTGCTTGAAAAAAAAA,TCGGACTGTAGAACTCT'"/>
    <chimera protocol="IllMultiplexCR1" name="Illumina CR1 Multiplex (Neandertal group)" adapter1="'GAGTAGATCGGAAGAGCACACGTCTGAACTCCAGTCACIIIIIIIATCTCGTATGCCGTCTTCTGCTTG'" adapter2="'GAGTAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'" chimera="''"/>
    <chimera protocol="IllMultiplexCR2" name="Illumina CR2 Multiplex (Neandertal group)" adapter1="'AGACAGATCGGAAGAGCACACGTCTGAACTCCAGTCACIIIIIIIATCTCGTATGCCGTCTTCTGCTTG'" adapter2="'AGACAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'" chimera="''"/>
    <chimera protocol="IllMultiplex_ssDNA" name="Illumina ssDNA Multiplex (ssDNA ligation protocol with 5nt deletion)" adapter1="'AGATCGGAAGAGCACACGTCTGAACTCCAGTCACIIIIIIIATCTCGTATGCCGTCTTCTGCTTG'" adapter2="'GGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'" chimera="''"/>
  </chimeras>
  <p7indices>
    <p7index id="397" seq="GAGAGGC"/>
    <p7index id="398" seq="GCTTCAG"/>
    <p7index id="399" seq="ATATCCA"/>
    <p7index id="400" seq="GTTATAC"/>
    <p7index id="401" seq="CCTTAAT"/>
    <p7index id="402" seq="CGCCAAC"/>
    <p7index id="403" seq="TACTCGC"/>
    <p7index id="404" seq="AGCGCCA"/>
    <p7index id="405" seq="TAAGTAA"/>
    <p7index id="406" seq="TTGGTCA"/>
    <p7index id="407" seq="GTTGCAT"/>
    <p7index id="408" seq="ATCCTCT"/>
    <p7index id="409" seq="GGCGGTC"/>
    <p7index id="410" seq="ATATGAT"/>
    <p7index id="411" seq="GGTACGC"/>
    <p7index id="412" seq="AAGAACG"/>
    <p7index id="413" seq="CCGTTGA"/>
    <p7index id="414" seq="AGCAATC"/>
    <p7index id="415" seq="GCTCCGT"/>
    <p7index id="416" seq="CAACTCT"/>
    <p7index id="417" seq="AGACTCC"/>
    <p7index id="418" seq="CTATCTT"/>
    <p7index id="419" seq="AAGCAGT"/>
    <p7index id="420" seq="GTTACCG"/>
    <p7index id="421" seq="CCTAACG"/>
    <p7index id="422" seq="ATCATAA"/>
    <p7index id="423" seq="TGATAAC"/>
    <p7index id="424" seq="TCTCCTA"/>
    <p7index id="425" seq="CAGAGCA"/>
    <p7index id="426" seq="CGGCTGG"/>
    <p7index id="427" seq="CGCTATT"/>
    <p7index id="428" seq="GATCGTC"/>
    <p7index id="429" seq="ACGGCAG"/>
    <p7index id="430" seq="GACCGAT"/>
    <p7index id="431" seq="ACTTGCG"/>
    <p7index id="432" seq="GTAAGCC"/>
    <p7index id="433" seq="GCCATGC"/>
    <p7index id="434" seq="ATAACGT"/>
    <p7index id="435" seq="CGGACGT"/>
    <p7index id="436" seq="GCGAGTA"/>
    <p7index id="437" seq="ACGCGGA"/>
    <p7index id="438" seq="GTCTAAT"/>
    <p7index id="439" seq="GAAGCGT"/>
    <p7index id="440" seq="CGGTAAG"/>
    <p7index id="441" seq="GGTAACT"/>
    <p7index id="442" seq="AATATAG"/>
    <p7index id="443" seq="CCTCGCC"/>
    <p7index id="444" seq="TTAATAG"/>
    <p7index id="445" seq="CCGAAGC"/>
    <p7index id="446" seq="TCGTTAT"/>
    <p7index id="447" seq="GGCTCTG"/>
    <p7index id="448" seq="CCAAGTC"/>
    <p7index id="449" seq="CTTGGAA"/>
    <p7index id="450" seq="TGAAGCT"/>
    <p7index id="451" seq="GGTTGAC"/>
    <p7index id="452" seq="CCGCCAT"/>
    <p7index id="453" seq="ACCAGAG"/>
    <p7index id="454" seq="GCTGAGA"/>
    <p7index id="455" seq="CCTTCGC"/>
    <p7index id="456" seq="CTGGCCT"/>
    <p7index id="457" seq="CGCAAGG"/>
    <p7index id="458" seq="TGAGAGA"/>
    <p7index id="459" seq="AAGATTC"/>
    <p7index id="460" seq="ATCGGTT"/>
    <p7index id="461" seq="ACGAGCC"/>
    <p7index id="462" seq="TGGATAC"/>
    <p7index id="463" seq="ATTCCAG"/>
    <p7index id="464" seq="ACTCATT"/>
    <p7index id="465" seq="ACCTCGT"/>
    <p7index id="466" seq="AGCTTAT"/>
    <p7index id="467" seq="GCGATCT"/>
    <p7index id="468" seq="CTCCAGT"/>
    <p7index id="469" seq="GAACTTA"/>
    <p7index id="470" seq="CCAATAA"/>
    <p7index id="471" seq="AGGCGAG"/>
    <p7index id="472" seq="CTCAGAT"/>
    <p7index id="473" seq="AAGACGA"/>
    <p7index id="474" seq="ACCGCTC"/>
    <p7index id="475" seq="AACTGAC"/>
    <p7index id="476" seq="GCAACTG"/>
    <p7index id="477" seq="GAGTAAC"/>
    <p7index id="478" seq="GATTAGG"/>
    <p7index id="479" seq="AGTCGCT"/>
    <p7index id="480" seq="CATAGAC"/>
    <p7index id="481" seq="ACTACGG"/>
    <p7index id="482" seq="GGCTAGC"/>
    <p7index id="483" seq="CCATGAG"/>
    <p7index id="484" seq="GCTGGTT"/>
    <p7index id="485" seq="AGAGTAG"/>
    <p7index id="486" seq="TATCAAC"/>
    <p7index id="487" seq="ATACGCG"/>
    <p7index id="488" seq="GACGTAC"/>
    <p7index id="489" seq="CTACTTC"/>
    <p7index id="490" seq="TGGTCGG"/>
    <p7index id="491" seq="AGACCAT"/>
    <p7index id="492" seq="TCCGAAC"/>
    <p7index id="301" seq="TCGCAGG"/>
    <p7index id="302" seq="CTCTGCA"/>
    <p7index id="303" seq="CCTAGGT"/>
    <p7index id="304" seq="GGATCAA"/>
    <p7index id="305" seq="GCAAGAT"/>
    <p7index id="306" seq="ATGGAGA"/>
    <p7index id="307" seq="CTCGATG"/>
    <p7index id="308" seq="GCTCGAA"/>
    <p7index id="309" seq="ACCAACT"/>
    <p7index id="310" seq="CCGGTAC"/>
    <p7index id="311" seq="AACTCCG"/>
    <p7index id="312" seq="TTGAAGT"/>
    <p7index id="313" seq="ACTATCA"/>
    <p7index id="314" seq="TTGGATC"/>
    <p7index id="315" seq="CGACCTG"/>
    <p7index id="316" seq="TAATGCG"/>
    <p7index id="317" seq="AGGTACC"/>
    <p7index id="318" seq="TGCGTCC"/>
    <p7index id="319" seq="GAATCTC"/>
    <p7index id="320" seq="CATGCTC"/>
    <p7index id="321" seq="ACGCAAC"/>
    <p7index id="322" seq="GCATTGG"/>
    <p7index id="323" seq="GATCTCG"/>
    <p7index id="324" seq="CAATATG"/>
    <p7index id="325" seq="TGACGTC"/>
    <p7index id="326" seq="GATGCCA"/>
    <p7index id="327" seq="CAATTAC"/>
    <p7index id="328" seq="AGATAGG"/>
    <p7index id="329" seq="CCGATTG"/>
    <p7index id="330" seq="ATGCCGC"/>
    <p7index id="331" seq="CAGTACT"/>
    <p7index id="332" seq="AATAGTA"/>
    <p7index id="333" seq="CATCCGG"/>
    <p7index id="334" seq="TCATGGT"/>
    <p7index id="335" seq="AGAACCG"/>
    <p7index id="336" seq="TGGAATA"/>
    <p7index id="337" seq="CAGGAGG"/>
    <p7index id="338" seq="AATACCT"/>
    <p7index id="339" seq="CGAATGC"/>
    <p7index id="340" seq="TTCGCAA"/>
    <p7index id="341" seq="AATTCAA"/>
    <p7index id="342" seq="CGCGCAG"/>
    <p7index id="343" seq="AAGGTCT"/>
    <p7index id="344" seq="ACTGGAC"/>
    <p7index id="345" seq="AGCAGGT"/>
    <p7index id="346" seq="GTACCGG"/>
    <p7index id="347" seq="GGTCAAG"/>
    <p7index id="348" seq="AATGATG"/>
    <p7index id="349" seq="AGTCAGA"/>
    <p7index id="350" seq="AACTAGA"/>
    <p7index id="351" seq="CTATGGC"/>
    <p7index id="352" seq="CGACGGT"/>
    <p7index id="353" seq="AACCAAG"/>
    <p7index id="354" seq="CGGCGTA"/>
    <p7index id="355" seq="GCAGTCC"/>
    <p7index id="356" seq="CTCGCGC"/>
    <p7index id="357" seq="CTGCGAC"/>
    <p7index id="358" seq="ACGTATG"/>
    <p7index id="359" seq="ATACTGA"/>
    <p7index id="360" seq="TACTTAG"/>
    <p7index id="361" seq="AAGCTAA"/>
    <p7index id="362" seq="GACGGCG"/>
    <p7index id="363" seq="AGAAGAC"/>
    <p7index id="364" seq="GTCCGGC"/>
    <p7index id="365" seq="TCAGCTT"/>
    <p7index id="366" seq="AGAGCGC"/>
    <p7index id="367" seq="GCCTACG"/>
    <p7index id="368" seq="TAATCAT"/>
    <p7index id="369" seq="AACCTGC"/>
    <p7index id="370" seq="GACGATT"/>
    <p7index id="371" seq="TAGGCCG"/>
    <p7index id="372" seq="GGCATAG"/>
    <p7index id="373" seq="TTCAACC"/>
    <p7index id="374" seq="TTAACTC"/>
    <p7index id="375" seq="TAGTCTA"/>
    <p7index id="376" seq="TGCATGA"/>
    <p7index id="377" seq="AATAAGC"/>
    <p7index id="378" seq="AGCCTTG"/>
    <p7index id="379" seq="CCAACCT"/>
    <p7index id="380" seq="GCAGAAG"/>
    <p7index id="381" seq="AGAATTA"/>
    <p7index id="382" seq="CAGCATC"/>
    <p7index id="383" seq="TTCTAGG"/>
    <p7index id="384" seq="CCTCTAG"/>
    <p7index id="385" seq="CCGGATA"/>
    <p7index id="386" seq="GCCGCCT"/>
    <p7index id="387" seq="AACGACC"/>
    <p7index id="388" seq="CCAGCGG"/>
    <p7index id="389" seq="TAGTTCC"/>
    <p7index id="390" seq="TGGCAAT"/>
    <p7index id="391" seq="CGTATAT"/>
    <p7index id="392" seq="GCTAATC"/>
    <p7index id="393" seq="GACTTCT"/>
    <p7index id="394" seq="GTACTAT"/>
    <p7index id="395" seq="CGAGATC"/>
    <p7index id="396" seq="CGCAGCC"/>
    <p7index id="1" seq="ACAGTG"/>
    <p7index id="2" seq="GATCAG"/>
    <p7index id="3" seq="ATCACG"/>
    <p7index id="4" seq="CGATGT"/>
    <p7index id="5" seq="CTTGTA"/>
    <p7index id="6" seq="GGCTAC"/>
    <p7index id="7" seq="TGACCA"/>
    <p7index id="8" seq="AAAGCA"/>
    <p7index id="9" seq="AAATGC"/>
    <p7index id="10" seq="AAGCGA"/>
    <p7index id="11" seq="AAGGAC"/>
    <p7index id="12" seq="AATAGG"/>
    <p7index id="13" seq="ACCCAG"/>
    <p7index id="14" seq="ACTCTC"/>
    <p7index id="15" seq="AGAAGA"/>
    <p7index id="16" seq="AGCATC"/>
    <p7index id="17" seq="AGGCCG"/>
    <p7index id="18" seq="ATACGG"/>
    <p7index id="19" seq="ATCCTA"/>
    <p7index id="20" seq="ATCTAT"/>
    <p7index id="21" seq="ATGAGC"/>
    <p7index id="22" seq="CATTTT"/>
    <p7index id="23" seq="CCGCAA"/>
    <p7index id="24" seq="CTCAGA"/>
    <p7index id="25" seq="GAATAA"/>
    <p7index id="26" seq="GCCGCG"/>
    <p7index id="27" seq="GCTCCA"/>
    <p7index id="28" seq="GGCACA"/>
    <p7index id="29" seq="GGCCTG"/>
    <p7index id="30" seq="TCGGCA"/>
    <p7index id="31" seq="TCTACC"/>
    <p7index id="32" seq="TGCCAT"/>
    <p7index id="33" seq="TGCTGG"/>
    <p7index id="34" seq="AGGTTT"/>
    <p7index id="35" seq="AGTCAA"/>
    <p7index id="36" seq="AGTTCC"/>
    <p7index id="37" seq="ATGTCA"/>
    <p7index id="38" seq="CCGTCC"/>
    <p7index id="39" seq="GTAGAG"/>
    <p7index id="40" seq="GTGAAA"/>
    <p7index id="41" seq="GTGGCC"/>
    <p7index id="42" seq="GTTTCG"/>
    <p7index id="43" seq="CGTACG"/>
    <p7index id="44" seq="GAGTGG"/>
    <p7index id="45" seq="GGTAGC"/>
    <p7index id="46" seq="ACTTGA"/>
    <p7index id="47" seq="CAGATC"/>
    <p7index id="48" seq="GCCAAT"/>
    <p7index id="49" seq="TAGCTT"/>
    <p7index id="50" seq="TTAGGC"/>
    <p7index id="51" seq="AACCGCC"/>
    <p7index id="52" seq="AACGAAC"/>
    <p7index id="53" seq="AACGCCT"/>
    <p7index id="54" seq="AACGGTA"/>
    <p7index id="55" seq="AACTAGT"/>
    <p7index id="56" seq="AACTGAG"/>
    <p7index id="57" seq="AAGAATT"/>
    <p7index id="58" seq="AAGATAG"/>
    <p7index id="59" seq="AAGCTCT"/>
    <p7index id="60" seq="AAGTCTG"/>
    <p7index id="61" seq="AATAACC"/>
    <p7index id="62" seq="AATCCGT"/>
    <p7index id="63" seq="ACCGATT"/>
    <p7index id="64" seq="ACCGTAG"/>
    <p7index id="65" seq="ACCTCAT"/>
    <p7index id="66" seq="ACCTTGC"/>
    <p7index id="67" seq="ACGACCT"/>
    <p7index id="68" seq="ACGATTC"/>
    <p7index id="69" seq="ACGCGGC"/>
    <p7index id="70" seq="ACGGAGG"/>
    <p7index id="71" seq="ACGTAAC"/>
    <p7index id="72" seq="ACTACTG"/>
    <p7index id="73" seq="ACTCGTT"/>
    <p7index id="74" seq="ACTGCGC"/>
    <p7index id="75" seq="AGACCTC"/>
    <p7index id="76" seq="AGACTAG"/>
    <p7index id="77" seq="AGAGACC"/>
    <p7index id="78" seq="AGAGCGT"/>
    <p7index id="79" seq="AGATATG"/>
    <p7index id="80" seq="AGATTCT"/>
    <p7index id="81" seq="AGCAAGC"/>
    <p7index id="82" seq="AGCAGTT"/>
    <p7index id="83" seq="AGCGCTG"/>
    <p7index id="84" seq="AGTATAC"/>
    <p7index id="85" seq="ATAAGTC"/>
    <p7index id="86" seq="ATAATGG"/>
    <p7index id="87" seq="ATACTCC"/>
    <p7index id="88" seq="ATAGAAG"/>
    <p7index id="89" seq="ATCTCCG"/>
    <p7index id="90" seq="ATGCAGT"/>
    <p7index id="91" seq="ATGGTAT"/>
    <p7index id="92" seq="ATTATCT"/>
    <p7index id="93" seq="ATTCGAC"/>
    <p7index id="94" seq="ATTGCTA"/>
    <p7index id="95" seq="CAACCGG"/>
    <p7index id="96" seq="CAACTAA"/>
    <p7index id="97" seq="AATCTTC"/>
    <p7index id="98" seq="ACCAACG"/>
    <p7index id="99" seq="AGATGGC"/>
    <p7index id="100" seq="CCAGGTT"/>
    <p7index id="101" seq="CCGTTAG"/>
    <p7index id="102" seq="CGCCTCT"/>
    <p7index id="103" seq="CTTGCGG"/>
    <p7index id="104" seq="GGCGGAG"/>
    <p7index id="105" seq="TGGACGT"/>
    <p7index id="106" seq="AACCATG"/>
    <p7index id="107" seq="CAGGAAG"/>
    <p7index id="108" seq="CATACCT"/>
    <p7index id="109" seq="CCAATCC"/>
    <p7index id="110" seq="CCGGCGT"/>
    <p7index id="111" seq="CGCATAG"/>
    <p7index id="112" seq="CGTAATC"/>
    <p7index id="113" seq="CGTTGGT"/>
    <p7index id="114" seq="CTATACG"/>
    <p7index id="115" seq="GACCTAC"/>
    <p7index id="116" seq="GATATTG"/>
    <p7index id="117" seq="AAGACGC"/>
    <p7index id="118" seq="GCAGTAT"/>
    <p7index id="119" seq="GGTCCGC"/>
    <p7index id="120" seq="GTCGACT"/>
    <p7index id="121" seq="GTTAGAT"/>
    <p7index id="122" seq="TAACTCG"/>
    <p7index id="123" seq="TGCTTCC"/>
    <p7index id="124" seq="TGGCGCT"/>
    <p7index id="125" seq="AATGGCG"/>
    <p7index id="126" seq="ACCAGAC"/>
    <p7index id="127" seq="ACGCCAG"/>
    <p7index id="128" seq="ACTAAGT"/>
    <p7index id="129" seq="AGAACCG"/>
    <p7index id="130" seq="ATCGTTC"/>
    <p7index id="131" seq="CAACGTC"/>
  </p7indices>
  <p5indices>
    <p5index id="1" seq="TCGCAGG"/>
    <p5index id="2" seq="CTCTGCA"/>
    <p5index id="3" seq="CCTAGGT"/>
    <p5index id="4" seq="GGATCAA"/>
    <p5index id="5" seq="GCAAGAT"/>
    <p5index id="6" seq="ATGGAGA"/>
    <p5index id="7" seq="CTCGATG"/>
    <p5index id="8" seq="GCTCGAA"/>
    <p5index id="9" seq="ACCAACT"/>
    <p5index id="10" seq="CCGGTAC"/>
    <p5index id="11" seq="AACTCCG"/>
    <p5index id="12" seq="TTGAAGT"/>
    <p5index id="13" seq="ACTATCA"/>
    <p5index id="14" seq="TTGGATC"/>
    <p5index id="15" seq="CGACCTG"/>
    <p5index id="16" seq="TAATGCG"/>
    <p5index id="17" seq="AGGTACC"/>
    <p5index id="18" seq="TGCGTCC"/>
    <p5index id="19" seq="GAATCTC"/>
    <p5index id="20" seq="CATGCTC"/>
    <p5index id="21" seq="ACGCAAC"/>
    <p5index id="22" seq="GCATTGG"/>
    <p5index id="23" seq="GATCTCG"/>
    <p5index id="24" seq="CAATATG"/>
    <p5index id="25" seq="TGACGTC"/>
    <p5index id="26" seq="GATGCCA"/>
    <p5index id="27" seq="CAATTAC"/>
    <p5index id="28" seq="AGATAGG"/>
    <p5index id="29" seq="CCGATTG"/>
    <p5index id="30" seq="ATGCCGC"/>
    <p5index id="31" seq="CAGTACT"/>
    <p5index id="32" seq="AATAGTA"/>
    <p5index id="33" seq="CATCCGG"/>
    <p5index id="34" seq="TCATGGT"/>
    <p5index id="35" seq="AGAACCG"/>
    <p5index id="36" seq="TGGAATA"/>
    <p5index id="37" seq="CAGGAGG"/>
    <p5index id="38" seq="AATACCT"/>
    <p5index id="39" seq="CGAATGC"/>
    <p5index id="40" seq="TTCGCAA"/>
    <p5index id="41" seq="AATTCAA"/>
    <p5index id="42" seq="CGCGCAG"/>
    <p5index id="43" seq="AAGGTCT"/>
    <p5index id="44" seq="ACTGGAC"/>
    <p5index id="45" seq="AGCAGGT"/>
    <p5index id="46" seq="GTACCGG"/>
    <p5index id="47" seq="GGTCAAG"/>
    <p5index id="48" seq="AATGATG"/>
    <p5index id="49" seq="AGTCAGA"/>
    <p5index id="50" seq="AACTAGA"/>
    <p5index id="51" seq="CTATGGC"/>
    <p5index id="52" seq="CGACGGT"/>
    <p5index id="53" seq="AACCAAG"/>
    <p5index id="54" seq="CGGCGTA"/>
    <p5index id="55" seq="GCAGTCC"/>
    <p5index id="56" seq="CTCGCGC"/>
    <p5index id="57" seq="CTGCGAC"/>
    <p5index id="58" seq="ACGTATG"/>
    <p5index id="59" seq="ATACTGA"/>
    <p5index id="60" seq="TACTTAG"/>
    <p5index id="61" seq="AAGCTAA"/>
    <p5index id="62" seq="GACGGCG"/>
    <p5index id="63" seq="AGAAGAC"/>
    <p5index id="64" seq="GTCCGGC"/>
    <p5index id="65" seq="TCAGCTT"/>
    <p5index id="66" seq="AGAGCGC"/>
    <p5index id="67" seq="GCCTACG"/>
    <p5index id="68" seq="TAATCAT"/>
    <p5index id="69" seq="AACCTGC"/>
    <p5index id="70" seq="GACGATT"/>
    <p5index id="71" seq="TAGGCCG"/>
    <p5index id="72" seq="GGCATAG"/>
    <p5index id="73" seq="TTCAACC"/>
    <p5index id="74" seq="TTAACTC"/>
    <p5index id="75" seq="TAGTCTA"/>
    <p5index id="76" seq="TGCATGA"/>
    <p5index id="77" seq="AATAAGC"/>
    <p5index id="78" seq="AGCCTTG"/>
    <p5index id="79" seq="CCAACCT"/>
    <p5index id="80" seq="GCAGAAG"/>
    <p5index id="81" seq="AGAATTA"/>
    <p5index id="82" seq="CAGCATC"/>
    <p5index id="83" seq="TTCTAGG"/>
    <p5index id="84" seq="CCTCTAG"/>
    <p5index id="85" seq="CCGGATA"/>
    <p5index id="86" seq="GCCGCCT"/>
    <p5index id="87" seq="AACGACC"/>
    <p5index id="88" seq="CCAGCGG"/>
    <p5index id="89" seq="TAGTTCC"/>
    <p5index id="90" seq="TGGCAAT"/>
    <p5index id="91" seq="CGTATAT"/>
    <p5index id="92" seq="GCTAATC"/>
    <p5index id="93" seq="GACTTCT"/>
    <p5index id="94" seq="GTACTAT"/>
    <p5index id="95" seq="CGAGATC"/>
    <p5index id="96" seq="CGCAGCC"/>
    <p5index id="is4" seq="AGATCTC"/>
  </p5indices>
</aLibInfo>
